<div class="h-full border-2 border-white rounded-lg p-10 bg-slate-800">
    <div class="flex flex-auto flex-col">
        <div class="flex">
            <label class="text-2xl font-bold text-white mb-5">Age Distribution Statistic</label>
            <div class="flex ml-auto gap-1">
                <div class="flex flex-col">
                    <label class="text-xs text-stone-300">Gender</label>
                    <select class="mb-5 rounded-lg p-2" [ngModel]="selectedUserCondition"
                        (ngModelChange)="onSelectedUserConditionChange($event)">
                        <option *ngFor="let item of dropdownList" [value]="item.value">
                            {{item.title}}
                        </option>
                    </select>
                </div>
                <div class="flex flex-col">
                    <label class="text-xs text-stone-300">Min Height</label>
                    <input class="w-full rounded-lg p-2" type="number" placeholder="Type height here"
                        [ngModel]="minHeightCondition" (ngModelChange)="onMinHeightConditionChange($event)">
                </div>
            </div>
        </div>

        <div class="w-1/2 self-center">
            <canvas id="Users"></canvas>
        </div>
    </div>
</div>